
.CardCombinator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: dashed black 2px;
}

.CardCombinatorArea { 
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}