.GameView {
    width: 100%;
    height: 100%;
}

.GameViewHeader, .GameViewFooter { 
    width: 100%;
    height: 10%;
}

.GameViewHeader {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}